<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,190},{192,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{192,42}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,234},{188,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{188,42}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>castle1_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{186,196}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{186,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>castle1_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{186,196}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{186,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>castle2_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{168,168}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{168,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>castle2_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,340},{168,162}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{168,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,278},{54,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,43}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>dragon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,252},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>dragon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,278},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>dragon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,152},{64,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>munch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,442},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>munch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,442},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>munch_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,350},{52,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,400},{40,40}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{40,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>phoenix1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,306},{54,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{54,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>phoenix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,323},{54,42}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{54,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>phoenix_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,278},{60,48}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>quirk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,390},{50,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{50,40}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>quirk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,338},{50,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,40}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>quirk_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,278},{58,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{296,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{296,22}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,218},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>slide_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_darkred.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_lightblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>slide_sel_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{300,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,16}}</string>
                <key>sourceSize</key>
                <string>{300,30}</string>
            </dict>
            <key>zap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,202},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>zap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,252},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>zap_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,152},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d8b987ac07a3b69bb2df5b8ca40f17$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
